body {
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #333;
  /* Dark gray text */
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.startdate {
  display: block;
  margin-right: 20px;

}

.image {
  display: none;
}

section {
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bg {
  height: 150px;
  width: 400px;
}

.section2 {
  margin-top: 20px;
}

.layer1 {
  position: relative;

}

.layer2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  padding: 15px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.loginPopup label {
  font-weight: bold;
  color:#02366d;
  display: block;
  margin-bottom: 5px;
}

.loginPopup input,
select,
textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* Ensure padding doesn't affect width */
  margin-bottom: 10px;
}

.start-date-time {
  display: flex;
  justify-content: space-between;
}
.div-btn{
  justify-content: center;
  align-items: center;
  display: flex;

}
.next-button {
  font-size: 18px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-size-adjust: 18px ;
justify-content: center;}


.openBtn {
  display: flex;
  justify-content: left;
}

.loginPopup {
  position: absolute;
  width: 100%;
}
.demo{
position: relative;
}
.cls_btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 5px;
  top:10px;
  cursor: pointer;
}

.cls_btn img{

  height: 20px;
  width: 20px;
}

.formPopup {
  overflow: hidden;
  display: none;
  position: absolute;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}

.formContainer {
  width: 500px;
  padding: 10px;
  background-color: #fff;
}

.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}