<!DOCTYPE html>
    <html>

    <head>
        <title>read event</title>
        <link rel="stylesheet" href="/Css/readprod.css">
    </head>

    <body onload="openForm()">


        <div class="readPopup">
            <div class="formPopup" id="popupForm">
                <div class="demo">
                    <a href="/events" class="cls_btn"><img src="/Images/close.png"/></a>

                </div>

                <div class="formContainer">
                    <div class="Newevent">
                        <button class="newevent-btn" onclick="openForm()"><strong>+ Create New Event</strong></button>
                    </div>
                    <section class="cover-picture">
                        <div class="container-row">
                            <div class="layer1">
                                <img src="/Images/im1.png" class="bg">
                            </div>
                        </div>

                        <div class="section2">
                            <div class="start-date-time">
                                <div class="startdate">
                                    <img src="/Images/date.png" id="dt" class="dt">
                                    <label>DATE +  AT  + Time</label> 
                                </div>
                                <div class="appdate">
                                    <label class="app-type">Via + App</label>
                                </div>
                                
                            </div>
                            <div id="nameev"class="nameev">
                                <p class="ev-name" id="edit3">EVENT NAME</p>
                            </div>

                            <table class="ev-details">
                                <tr>
                                    <td>
                                        <label >Category:</label>
                                    </td>
                                    <td id="n1" class="n1">
                                        <label id="end-editing">We Will meet in</label><p class="edit" id="edit">APP</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p id="Category">Virtual</p>
                                        <p id="desc">Event Description</p>
                                    </td>
                                    <th>
                                        
                                        <div class="layere1"><label >App Link</label></div>
                                        <div id="layere2" class="layere2"><a href="" class="edit" id="edit2">Link</a>
                                    </th>
                                </tr>


                            </table>
                            <h4>Organized By Club Name</h4>
                        </div>
                        <div class="div-btn">
                            <button class="participate-button">Participate</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script>
            function openForm() {
                document.getElementById("popupForm").style.display = "block";
            }
            function closeForm() {
                document.getElementById("popupForm").style.display = "none";
            }
            
        </script>

    </body>

    </html>     