<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <title>read event</title>
        <link rel="stylesheet" href="/Css/readprod.css">
    </head>

    <body onload="openForm()">


        <div class="readPopup">
            <div class="formPopup" id="popupForm">
                <div class="demo">
                    <a href="/events" class="cls_btn"><img src="/Images/close.png"/></a>

                </div>

                <div class="formContainer">
                    <div class="Newevent">
                        <a href="/events/create" class="newevent-btn"><strong>+ Create New Event</strong></a>
                    </div>
                    <section class="cover-picture">
                        <div class="container-row">
                            <div class="layer1">
                                <img th:src="@{'/uploaded_images/' + ${event.coverPicture}}" class="bg">
                            </div>
                        </div>

                        <div class="section2">
                            <div class="start-date-time">
                                <div class="startdate">
                                    <img src="/Images/date.png" id="dt" class="dt">
                                    <h3 th:text="${event.startDate}"></h3>
                                    <h2>&ensp;</h2>
                                    <h4 th:text="${event.startTime}"></h4>
                                </div>

                                
                            </div>
                            <div id="nameev"class="nameev">
                                <p class="ev-name" id="edit3"  th:text="${event.eventName}"> </p>
                            </div>

                            <table class="ev-details">
                                <tr>
                                    <td>
                                        <label >Category:<p th:text="${event.category}"> </p></label >
                                    </td>
                                    <td id="n1" class="n1">
                                        <label id="end-editing">We Will meet in</label><p class="edit" id="edit" th:text="${event.app}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p id="Category">Virtual</p>
                                        <p >Event Description :</p>
                                        <p th:text="${event.Location_description}"></p>
                                    </td>
                                    <th>
                                        
                                        <div class="layere1"><label >App Link</label></div>
                                        <div id="layere2" class="layere2"><a href="" class="edit" id="edit2" th:text="${event.link}"></a>
                                    </th>
                                </tr>


                            </table>

                        </div>
                        <div class="div-btn">
                            <button class="participate-button">Participate</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script>
            function openForm() {
                document.getElementById("popupForm").style.display = "block";
            }
            function closeForm() {
                document.getElementById("popupForm").style.display = "none";
            }
            
        </script>

    </body>

    </html>     