<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>read physical event</title>
    <link rel="stylesheet" href="/Css/ReadPhys.css">
</head>

<body >


<div class="readPopup">
    <div class="formPopup" id="popupForm">
        <div class="demo">
            <a href="/events" class="cls_btn"><img src="/Images/close.png"/></a>

        </div>

        <div class="formContainer">
            <div class="Newevent">
                <a href="/events/create" class="newevent-btn"><strong>+ Create New Event</strong></a>
            </div>
            <section class="cover-picture">
                <div class="container-row">
                    <div class="layer1">
                        <img th:src="@{'/uploaded_images/' + ${event.coverPicture}}" class="bg">
                    </div>
                </div>

                <div class="section2">
                    <div class="start-date-time">
                        <div class="startdate">
                            <img src="/Images/date.png" id="dt" class="dt">
                            <h3 th:text="${event.startDate}"></h3>
                            &ensp;
                            <h4 th:text="${event.startTime}"></h4>
                        </div>

                    </div>
                    <div id="nameev"class="nameev">
                        <p class="ev-name" id="edit3"  th:text="${event.eventName}"> </p>
                    </div>

                    <table class="ev-details">
                        <tr>
                            <td>
                                <label >Category:</label>
                                <h4 th:text="${event.category}"></h4>
                            </td>
                            <td id="n1" class="n1">
                                <p class="edit" id="edit">State:
                                <h5 th:text="${event.state}"></h5>
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                               <div> <p id="Category">Physical</p></div>
                               <div> <p id="desc">Event Description :</p></div>
                                <p th:text="${event.eventDescription}"></p>
                            </td>
                            <th>

                                <div class="layere1"><label ></label></div>
                                <div class="appdate">
                                    <label class="app-type">Place Name: <p th:text="${event.Place_name}"> </p></label>
                                </div>

                                <div class="google-img">
                                        <iframe th:src="${event.Location_link}"  ></iframe>

                                    </div>
                                </div>
                            </th>
                        </tr>


                    </table>

                </div>
                <div class="div-btn">
                    <button class="participate-button">Participate</button>
                    <button onclick="OpeneditP()" class="edit-button">Edit</button>
                </div>
        </section>
        </div>

    </div>

</div>

<div class="PhysicalPopup">
    <div class="popupeditP" id="popupeditP">
        <div class="demo">
            <button type="button" class="cls_btn" onclick="closeeditP()"><img src="/Images/close.png"/></button>

        </div>

        <div class="formContainerP">
            <div class="NeweventP">
                <a href="/events/create" class="newevent-btn"><strong>+ Create New Event</strong></a>
            </div>
            <section class="cover-picture">
                <div class="container-row">
                    <div class="layer1">
                        <img th:src="@{'/uploaded_images/' + ${event.coverPicture}}" class="bg">
                    </div>
                </div>

                <div class="section2">
                    <div class="start-date-time">
                        <div class="startdate">
                            <img src="/Images/date.png"  class="dt">
                            <h3 th:text="${event.startDate}"></h3>
                            &ensp;
                            <h4 th:text="${event.startTime}"></h4>
                        </div>


                    </div>
                    <form action="/events/update" method="POST"  th:object="${event}">
                    <div id="nameevP" class="nameev">
                            <input type="hidden" th:value="${event.id}"  th:field="${event.id} ">
                            <input type="text" class="ev-name" id="editNAME"   th:field="${event.eventName}">
                            <button  type="button" class="ed" id="edit-button3">
                                <img src="/Images/edit.png">
                            </button>

                    </div>


                    <table class="ev-detailsp">
                        <tr>
                            <td>
                                <label >Category:</label>
                                <h4 th:text="${event.category}"></h4>
                            </td>
                            <td id="n1P" class="n1">
                                <input type="text" class="edit" id="editState"  th:field="${event.state}">
                                <button type="button" class="ed" id="edit-button"><img src="/Images/edit.png"></button>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p >Physical</p>
                                <p >Event Description</p>
                                <p th:text="${event.eventDescription}"></p>

                            </td>
                            <th>

                                <div id="layere2" class="layere2p">
                                    <input type="text" class="edit" id="editPlace"  th:field="${event.Place_name}">
                                    <button type="button" class="ed" id="edit-button2"><img src="/Images/edit.png"></button>
                                </div>
                                <div class="google-img">
                                    <iframe th:src="${event.Location_link}"  ></iframe>
                                </div>
                            </th>
                        </tr>
                    </table>



                <div class="div-btn">
                    <button type="submit" class="next-button">Update</button>
                    <a th:href="@{/events/deleteEvent/{id}(id=${event.id})}" class="del-button">Delete</a>
                </div>
                    </form>

            </section>
        </div>
    </div>
</div>






<script>
    function openFormup() {
        document.getElementById("popupForm").style.display = "block";
        document.getElementById("popupeditP").style.display = "none";
    }
    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
    }
    function OpeneditP() {
        document.getElementById("popupeditP").style.display = "block";
        document.getElementById("popupForm").style.display = "none";
    }
    function closeeditP() {
        document.getElementById("popupeditP").style.display = "none";
    }
    const paragraph = document.getElementById("editState");
    const paragraph2 = document.getElementById("editPlace");
    const paragraph3 = document.getElementById("editNAME");
    const edit_button = document.getElementById("edit-button");
    const edit_button2 = document.getElementById("edit-button2");
    const edit_button3 = document.getElementById("edit-button3");
    var end_button = document.getElementById("n1P");
    var end_button2 = document.getElementById("editPlace");
    var end_button3 = document.getElementById("nameevP");

    edit_button.addEventListener("click", function() {
        document.getElementById('editState').readOnly = false;
        paragraph.style.backgroundColor = "#dddbdb";
    } );

    document.addEventListener('mouseup', function(e) {
    if (!end_button.contains(e.target)) {
        document.getElementById('editState').readOnly = true;
        paragraph.style.backgroundColor = "#fff";
    }
    });

    edit_button2.addEventListener("click", function() {
        document.getElementById('editPlace').readOnly = false;
        paragraph2.style.backgroundColor = "#dddbdb";
    } );

    document.addEventListener('mouseup', function(e) {
    if (!end_button2.contains(e.target)) {
        document.getElementById('editPlace').readOnly = true;
        paragraph2.style.backgroundColor = "#fff";
    }
    });

    edit_button3.addEventListener("click", function() {
        document.getElementById('editNAME').readOnly = false;
        paragraph3.style.backgroundColor = "#dddbdb";
    } );


    document.addEventListener('mouseup', function(e) {
    if (!end_button3.contains(e.target)) {
        document.getElementById('editNAME').readOnly = true;
        paragraph3.style.backgroundColor = "#fff";
    }
    });

</script>
</body>

</html>